body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f2f3f5;
}

.scene {
  width: 600px;
  height: 300px;
  margin: auto;
  background: #d1d5db;
  border-radius: 10px;
  position: relative;
}

.info-panel {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.info-panel div {
  padding: 15px;
  background: #e5e7eb;
  border-radius: 8px;
  width: 120px;
}

.seesaw-container {
  position: absolute;
  bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#seesaw {
  position: relative;
  width: 400px;
  height: 20px;
}

#plank {
  width: 400px;
  height: 12px;
  background: midnightblue;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}


#resetBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background:crimson;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

#log {
  width: 600px;
  margin: 20px auto;
  text-align: left;
  font-size: 14px;
}